services:
  # DB用コンテナ作成
  db:
    # イメージの指定(docker-hubから直接流用)
    image: 'mysql:8.2.0'
    # DBデータ保持用のボリュームをバインド
    volumes: 
      - sample_db_data:/var/lib/mysql
      - ./db/initdb.d:/docker-entrypoint-initdb.d
    ports:
      - 3306:3306
    env_file:
      - ./env/db.env # 環境変数ファイルへのパス
  # API用コンテナ作成
  app:
    build: . # イメージのビルドに使用するDockerfileへの相対パス
    volumes:
    # バインドマウント
      - type: bind 
        source: ./src
        target: /src
      - type: bind 
        source: ./scripts
        target: /src/scripts
    working_dir: /src
    command: "sh -c 'cd /src && air -c .air.toml'"
    ports:
      - 5050:5050
    env_file:
      - ./env/app.env
    # 依存するサービス名(先に起動させたいサービス)
    depends_on:
      - db
# DBデータ保持用のボリューム
volumes:
  sample_db_data:
