services:
  front:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - .:/app
      - node_modules:/app/node_modules
    ports:
      - "3010:3010"
    command: ["npm", "run", "dev"]

volumes:
  node_modules:
